/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --button-color: #353430;
  --button-color-rgb: 53, 52, 48;
  --header-corners-color: #353430;
  --article-text-color: #353430;
  --title-decor-color: #353430;
  --h1-header-title-color: #ffc2e6;
  --h2-footer-title-color: #ffc2e6;
  --h3-section-title-color: #353430;
	--page-background-image: url(../images/cover-image-light.png);
	--rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --button-color: #353430;
  --button-color-rgb: 53, 52, 48;
  --header-corners-color: #353430;
  --article-text-color: #353430;
  --title-decor-color: #353430;
  --h1-header-title-color: #ffc2e6;
  --h2-footer-title-color: #ffc2e6;
  --h3-section-title-color: #353430;
	--page-background-image: url(../images/cover-image-light.png);
	--rec-display: none;
  }
}
